<div class="content listing">
   <h4>Shelf Listings</h4>
   <div class="under-construction">
      <%= image_tag "under-construction.png" %>
      <p>This site is under construction.<br/>Please check back later for updates!</p>
   </div>
</div>
