<div class="modal cataloging-edit">
   <h4 class="modal-header">Edit Cataloging Request</h4>
   <div class="modal-content">
      <%= form_tag("/admin/cataloging_requests/", method: "put", class: "pure-form pure-form-aligned") do %>
         <fieldset>
            <input name ="listing_id" type="hidden" value="<%= @listing.id %>">
            <div class="pure-control-group">
               <label class="pure-input-1-3">Problems</label>
               <input class="pure-input-2-3" name="problems" type="text" placeholder="Problems" value=""/>
            </div>
            <div class="pure-control-group">
               <label class="pure-input-1-3">Date Sent Out</label>
               <input class="pure-input-2-3" name="sent_out_on" type="text" placeholder="YYYY-MM-DD" value=""/>
            </div>
            <div class="pure-control-group">
               <label class="pure-input-1-3">Date Returned</label>
               <input class="pure-input-2-3" name="returned_on" type="text" placeholder="YYYY-MM-DD" value=""/>
            </div>
            <div class="pure-control-group">
               <label class="pure-input-1-3">New Barcode</label>
               <input class="pure-input-2-3" name="barcode" type="text" placeholder="barcode" value=""/>
            </div>
            <div class="pure-control-group">
               <label class="pure-input-1-3">Destination</label>
               <input class="pure-input-2-3" name="destination" type="text" placeholder="Destination" value=""/>
            </div>

         </fieldset>
      <% end %>
      <div class="modal-controls">
          <button class="pure-button cancel">Cancel</button>
          <button class="pure-button submit">Submit</button>
      </div>
   </div>
</div>
