<div class="modal general-edit">
   <h4 class="modal-header">Edit General Information</h4>
   <div class="modal-content">
      <div class="modal-controls">
          <button class="pure-button cancel">Cancel</button>
          <button class="pure-button update-general">Update</button>
      </div>
   </div>
</div>
