<div class="modal status-edit">
   <h4 class="modal-header">Edit Book Status</h4>
   <div class="modal-content">
      <div class="modal-controls">
          <button class="pure-button cancel">Cancel</button>
          <button class="pure-button update-status">Update</button>
      </div>
   </div>
</div>
