<div class="content listing">
   <h4>Shelf Listings <span class="user"><%= current_user.full_name %></span></h4>
   <div class="listings-container">
      <table id="shelf-listings" class="display compact" cellspacing="0" width="100%">
         <thead>
           <tr>
               <th>ID</th>
               <th>Barcode</th>
               <th>Call Number</th>
               <th>Title</th>
               <th>Bookplate</th>
               <th>Library</th>
               <th>Classification</th>
               <th>Subclassification</th>
               <th>Intervention?</th>
           </tr>
       </thead>
      </table>
   </div>
</div>
