<div class="content api-access">
   <%= render "/common/menu" %>
   <div class="access-request-container">
      <h3>Thank you for your interest in the Book Traces API</h3>
      <div class="centered-message">
         <p>We have received your request for an access token.</p>
         <p>One will be generated and emailed to you shortly.</p>
      </div>
   </div>
</div>
