<div class="main-header">
   <div class="uva-header">
      <a href="http://www.library.virginia.edu/" target="_blank">
         <%= image_tag "uvalogo.png" %>
      </a>
      <span class="booktraces">Book Traces @ UVA</span>
   </div>
   <%= image_tag "books.jpg", class:"pure-img" %>
</div>
<div class="home-content">
   <h4>About</h4>
   <p>
      Many volumes in the circulating collections of Alderman Library have evidentiary value due to
      modifications by their former owners: marginalia, inserts, inscriptions and the like.
      Book Traces @ UVA is an effort to find these uniquely modified books, record their significant characteristics,
      and make them discoverable through the UVA Library catalog.
   </p>
   <h4 class="top-pad">Looking for booktraces.org?</h4>
   <p>
      Book Traces @ UVA grew out of Andrew Stauffer’s <a href="http://www.booktraces.org" target="_blank">Book Traces</a>,
      a website where anyone can submit pictures of unique copies of library books in circulating
      collections around the world.
      Have you found a book in your library with old writing on the pages or artifacts tucked in?
      Share your find on <a href="http://www.booktraces.org" target="_blank">Book Traces</a>!
   </p>
   <h4 class="top-pad">UVA Status</h4>
   <div class="access-type">
      <p>
         <label>
            <input type="radio" name="is_uva" id="is_uva_yes" value="yes" checked="checked"/>
            I am UVA faculty, staff, or student. (You will be asked to verify your identity using
            <a href="http://itc.virginia.edu/netbadge/" target="_blank">NetBadge</a>.)
         </label>
      </p>
      <p>
         <label>
            <input type="radio" name="is_uva" id="is_uva_no" value="no" checked="checked"/>
            I am not affiliated with UVA.
         </label>
      </p>
      <button class="pure-button pure-button-primary">Contine</button>
      <div style="clear:both"></div>
   </div>

</div>
