<div class="content unauthorized">
   <div class="unauthorized">
      <%= image_tag "unauthorized.png" %>
      <h4>Sorry! You are not authorized to access this data.</h4>
      <p>
         If you need help, please contact the project manager, Kristin Jensen
         (<a href="mailto:khj5c@virginia.edu">khj5c@virginia.edu</a>).
      </p>
      <p>Click <a href="/">here</a> to go back to the Book Traces home page.</p>
   </div>
</div>
