body {
    background: #e2e2e2;
    padding: 0;
    margin: 0;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    .chosen-container-single .chosen-single span {
      color: #666;
      font-weight: 400;
   }
}
.rate-title-bar span.rate-controls {
   label {
      margin-left:15px;
   }
}

span.rate-settings-label {
   font-weight: bold;
   margin-left: 25px;
}

div.extremes-container  {
   text-align: center;
   padding: 0px !important;
   margin: 20px !important;
   div.double-chart {
      margin:10px;
      width:45%;
      display:inline-block;
   }
}
div.distribution-container, div.rates-container,div.extremes-container  {
   border:1px solid #ccc;
   padding: 10px;
   margin:10px auto;
   h5 {
      text-align: center;
      margin: 0 0 15px 0;
      font-size: 1em;
      font-weight: 400;
      color: #666;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
   }
}
div.rates-container  {
   padding:10px 50px 50px 50px;
   margin: 20px;
   #generating {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      background: rgba(0,0,0,0.3);
      display: none;
      .wait {
         background: white;
         width: 150px;
         border-radius: 20px;
         border: 1px solid black;
         box-shadow: 1px 1px 10px black;
         margin: 20% auto;
         padding: 25px;
         text-align: center;
      }
   }
}
div.rate-title-bar {
   padding: 10px 10px 15px 10px;
   font-weight: 200;
   margin-bottom: 20px;
   border-bottom: 1px solid #ccc;
   color: #444;
   position: relative;
   button.pure-button {
      font-size: 70%;
      margin-left: 15px;
   }
   span.title {
      font-weight: bold;
   }
   label { margin-left: 5px;}
   input[type=radio] { margin: 0 10px; }
   select {
      margin-left: 5px;
   }
}

.main.home {
   max-width: 1000px;
}
.main {
   margin: 0em auto;
   min-width: 750px;
   padding: 0px;
   z-index: 0;
   background-color: #eee;

   .pure-menu.pure-menu-horizontal.booktraces{
      border-top: 1px solid #AAC1E5;
      background: #6A81a5;
      color: white;
      margin: 0;
      position: relative;
      span.user {
         position: absolute;
         right: 8px;
         top: 8px;
         font-weight: 200;
      }
      a.pure-menu-link {
         color: white;
         font-weight: 100;
         cursor: pointer;
         &:hover {
            text-decoration: none;
            background-color: #AAC1E5;
         }
      }
      li.pure-menu-item.pure-menu-selected {
         a.pure-menu-link {
            font-weight: bold;
         }
      }
   }

   a {
      outline: none;
   }

   .content {
      color: #444;
      background: #fefefe;
      border-right: 1px solid #002F6C;
      border-left: 1px solid #002F6C;
      a {
         color: cornflowerblue;
         font-weight: 500;
         text-decoration: none;
         &:hover {
            text-decoration: underline;
         }
      }
   }

   .header {
      font-family: serif;
      font-weight: 100;
      color: #d2e5f7;
      background-color: #002F6C;
      padding: 2px;
      img.banner {
       border-top: 1px solid #AAC1E5;
      }
      span.booktraces {
         font-size: 1.5em;
         float:right;
         a {
            cursor: pointer;
            text-decoration: none;
            font-weight: 100;
            color: #d2e5f7;
         }
      }
      .uva-header {
         padding:15px;
      }
      .uva-header.small {
         img {
            height: 60px;
         }
      }
   }

   footer {
      background-color: #002F6C;
      color: #d2e5f7;
      padding:20px;
      position:relative;
      font-size: 0.9em;

      .external_links {
         float:right;
         text-align: right;
      }
      p.copy {
         margin-top:20px;
      }
      a {
         color: #d2e5f7;
         border-bottom: 1px dotted #839dbf;
         &:hover {
            color: white;
            text-decoration: none;
            border-bottom: 1px solid #839dbf;
         }
      }
      a.fdlp {
         border-bottom: none !important;
      }
      div.address {
         float:left;
      }
      div.legal {
         position: relative;
         text-align: center;
         clear: both;
      }
      #fdlp-badge {
         background: image-url("fdlp-badge.png") no-repeat;
         height: 34px;  width: 39px;
         display: inline-block;
         position: relative;
         top: 8px;
         left: -8px;
      }
      p.copy, p.gov {
         vertical-align: middle;
      }
   }
}
