// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.content.home {
    padding: 30px 50px;
   .top-pad {
      margin-top:40px;
   }
   #continue-btn {
      float: right;
   }
   h4 {
      color: #EB5F0C;
      margin: 10px 0;
      border-bottom: 1px dashed #EB5F0C;
      padding-bottom: 5px;
      font-family: "chaparral-pro",serif;
      font-size: 1.3em;
      // font-weight: 100;
   }
   p {
      font-weight: 400;
      color: #333;
   }
   .access-type {
      margin-left: 25px;
      input {
         margin-right: 10px;
      }
   }
}
