// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.content.listing, div.content.detail {
   padding: 0;
   h4 {
      border-top: 1px solid #AAC1E5;
      background: #6A81a5;
      color: white;
      margin: 0;
      padding: 10px 15px;
      font-weight: 300;
      .user {
         float: right;
         font-size: 0.75em;
      }
   }
   div.body {
      padding: 20px;
   }

   .no-top-margin {
      margin-top: 0;
   }

   a {
      text-decoration: none;
      &:hover {
         text-decoration: underline;
      }
   }

   .chosen-container-single .chosen-single span {
      color: black;
      font-weight: 200;
   }

   .listings-container {
      padding: 0px 20px 20px 20px;
      font-size: 0.85em;
      #shelf-listings {
         padding-top:15px;
      }
      #query {
         width: 300px;
      }
      div.dataTables_filter {
         // HIDE the built-in search
         display: none;
      }
      a.detail {
         display: inline-block;
         width: 20px;
         height: 20px;
         background-image: image-url('detail.png')
      }
      div.intervention {
         text-align: center;
      }
      span.intervention {
         display: inline-block;
         width: 20px;
         height: 20px;
      }
      span.intervention.no {
         background-image: image-url('none.png')
      }
      span.intervention.yes {
         background-image: image-url('check.png')
      }
      .filter {
         margin-bottom: 10px;
         padding-bottom: 10px;
         border-bottom: 1px solid #dedede;
         text-align: center;
         input[type=checkbox] {
            width: 14px;
            height: 14px;
         }
         table {
            text-align: left;
            display: inline-block;
         }
         .filter-controls {
            text-align: right;
         }
         td.gap {
            width: 25px;
         }
         td.label {
            text-align: right;
            font-weight: bold;
            padding: 7px 10px 7px 0;
         }
         td.choice {
            min-width:150px;
         }
      }
   }

   div.panel.right-margin {
      margin-right: 20px;
   }
   div.panel.top-margin {
      margin-top: 20px;
   }
   div.panel {
      position: relative;
      margin: 0;
      border: 1px solid #6A81a5;
      div.header {
         padding: 5px 15px;
         font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
         background-color: #6A81a5;
         color: #f5f5f5;
         font-weight: 300;
      }
      div.intervention, div.catalog-request {
         margin: 10px 0px 10px 0px;
         border: 1px solid #ccc;
         padding: 10px;
      }
      div.content {
         border: none;
         padding: 10px 20px;
         font-size: 0.9em;
         td.data {
            color: #555;
            font-weight: 200;
         }
         td.label {
            vertical-align: text-top;
            text-align: right;
            font-weight: bold;
            padding: 2px 10px 2px 0;
         }
      }
   }
}
