#dimmer {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1000;
   background: rgba(0,0,0,0.3);
   display: none;

   .modal {
      background: #f4f4f4;
      padding: 0;
      border: 1px solid #666;
      box-shadow: 1px 1px 10px #777;
      margin: 8% auto;
      width: 350px;
      display: none;
      label.pure-input-2-3.left {
         text-align: left;
      }
      span.note {
         text-align: center;
         display: block;
         margin-bottom: 10px;
         font-style: italic;
         font-weight: bold;
         font-size: 95%;
         color: #444;
         padding: 0 75px;
      }
      .pure-form.pure-form-aligned {
         font-size: 75%;
      }
      h4.modal-header {
         border-top: none;
         font-weight: normal;
         padding: 5px 10px;
         background: #002F6C;
         color: #d2e5f7;
         margin: 0;
      }
      div.modal-content {
         padding: 15px;
         label {
            vertical-align: top;
            position: relative;
            top: 10px;
         }
      }
      div.modal-controls {
         text-align: right;
      }
      div.interventions-scroller {
         display: inline-block;
         height: 150px;
         overflow: scroll;
         background: white;
         border: 1px solid #ccc;
         ul {
            list-style: none;
            padding-left: 10px;
            label.pure-checkbox {
               width:auto;
               top: 0;
               margin-left: 10px;
            }
            input[type=checkbox] {
               margin-right: 10px;
            }
         }
      }
   }
   .modal.general-edit,.modal.intervention-edit {
      width:550px
   }
}
