// Place all the styles related to the unauthorized controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.content.unauthorized {
   padding: 50px;
   div.unauthorized {
      text-align: center;
      color: #666;
   }
   h4 {
      font-size: 1.25em;
      margin: 25px;
   }
   p {
      font-size: 0.9em;
   }
}
