<div class="listings-container">
   <div class="filter" data-default-page-size="<%= Figaro.env.hits_per_page %>">
      <table>
         <tr>
            <td class="label">Library:</td>
            <td class="choice">
               <%= select_tag "library", options_for_select(ShelfListing.libraries),
                   class: "chosen-select filter", id: "library-filter" %>
             </td>
             <td class="gap"/>
             <td class="label">Search:</td>
             <td><input id="query"/></td>
         </tr>
         <tr>
            <td class="label">Classification System:</td>
            <td class="choice">
               <select name="classification_system" id="system-filter" class="chosen-select filter">
                  <option value="Any">Any</option>
                  <option value="LC">Library of Congress</option>
                  <option value="Hicks">Hicks</option>
               </select>
            </td>
            <td class="gap"/>
            <td class="label">Interventions Only:</td>
            <td><input id="intervention-filter" type="checkbox" checked="checked"/></td>
         </tr>
         <tr>
            <td class="label">Classification:</td>
            <td class="choice">
               <%= select_tag "classification", options_for_select(ShelfListing.classifications),
                   class: "chosen-select filter", id: "class-filter" %>
            </td>
         </tr>
         <tr>
            <td class="label">Subclassification: </td>
            <td class="choice">
               <%= select_tag "subclassification", options_for_select(ShelfListing.subclassifications),
                   class: "chosen-select filter", id: "subclass-filter" %>
             </td>
             <td class="gap"/>
             <td colspan="2" class="filter-controls">
                <button id="clear" class="pure-button pure-button-primary">Reset</button>
                <button id="filter" class="pure-button pure-button-primary">Filter</button>
             </td>
         </tr>
         <tr>
      </table>
   </div>
   <table id="shelf-listings" class="display stripe" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th>ID</th>
            <th>Barcode(s)</th>
            <th>Call Number</th>
            <th>Title</th>
            <th>Bookplate</th>
            <th>Library</th>
            <th>System</th>
            <th>Class</th>
            <th>Subclass</th>
            <th>Intervention?</th>
            <th></th>
        </tr>
    </thead>
   </table>
</div>
