<div class="rates-container library">
   <h5>Hit Rate Per Library</h5>
   <canvas id="library-hit-rate"></canvas>
</div>
<div class="distribution-container" style="width:45%">
   <h5>Intervention Distribution</h5>
   <canvas id="distribution-chart"></canvas>
</div>
