<div class="rates-container library">
   <div class="rate-title-bar">
      <span class="title">Hit Rate per </span>
      <span class="rate-controls">
         <select name="system" id="x-axis-type" style="width:150px">
            <option value="library">Library</option>
            <option value="class">Classification</option>
            <option value="subclass">Subclassification</option>
            <option value="decade">Decade</option>
         </select>

         <span class="rate-settings-label">Settings:</span>

         <label>Library&nbsp;</label><%= select_tag "library", options_for_select(ShelfListing.libraries), class: "rate-setting", id: "library-rate", disabled:"disabled" %>

         <label>Classification System&nbsp;</label>
         <select name="system" id="system-rate" class="rate-setting" disabled="disabled">
            <option value="Any">Any</option>
            <option value="LC">LC</option>
            <option value="Hicks">Hicks</option>
         </select>

         <label>Classification&nbsp;</label>
         <%= select_tag "classification", options_for_select(ShelfListing.classifications), class: "rate-setting", id: "class-rate" %>

         <button class="pure-button generate">Generate Chart</button>
         <a id="chart-link" target="_blank" href="<%= request.protocol %><%= request.host_with_port %>/charts?type=library">
            <span class="report-link"/>
         </a>
      </span>
   </div>
   <canvas id="library-hit-rate"></canvas>
   <div id="generating"><div class="wait">Please wait...</div></div>
   <div id="no-matches"><span>No interventions were found on any books matching this criteria</span></div>
   <div class="total-container">
      <label>Total Books:</label><span id="total-books"></span>
   </div>
</div>
<div class="extremes-container">
   <div class="double-chart">
      <h5>Top 25 Hit Rates</h5>
      <canvas id="top25-chart"></canvas>
   </div>
   <div class="double-chart">
      <h5>Bottom 25 Hit Rates</h5>
      <canvas id="bottom25-chart"></canvas>
   </div>
</div>
<div class="distribution-container" style="width:90%">
   <h5>Intervention Distribution</h5>
   <canvas id="distribution-chart"></canvas>
</div>
