<div class="rates-container library">
   <div class="rate-title-bar">
      <span class="title">Hit Rates:</span>
      <span class="controls">
         <label class="pure-radio"><input type="radio" name="rate-select" checked value="library">Per Library</label>
         <label class="pure-radio"><input type="radio" name="rate-select" value="classification">Per Classification</label>
         <label class="pure-radio"><input type="radio" name="rate-select" value="subclassification">Per Subclassification of
            <%= select_tag "subclassification", options_for_select(ShelfListing.classifications(false)), id: "rate-class-filter" %>
         </label>
         <label class="pure-radio"><input type="radio" name="rate-select" value="top25">Top 25</label>
         <label class="pure-radio"><input type="radio" name="rate-select" value="bottom25">Bottom 25</label>
         <button class="pure-button generate">Generate Chart</button>
      </span>
   </div>
   <canvas id="library-hit-rate"></canvas>
   <div id="generating"><div class="wait">Please wait...</div></div>
</div>
<div class="distribution-container" style="width:45%">
   <h5>Intervention Distribution</h5>
   <canvas id="distribution-chart"></canvas>
</div>
