<div class='panel'>
   <div class='header'>
      <span>Book Status</span>
      <span class="header-buttons">
         <span class="icon-button edit" data-target="status-edit"></span>
      </span>
   </div>
   <div class='content'>
      <table>
         <tr>
            <td class="label">Date Checked:</td>
            <td class="data"><%= @listing.date_checked %></td>
         </tr>
         <tr>
            <td class="label">Checked By:</td>
            <td class="data"><%= @listing.who_checked %></td>
         </tr>
         <tr>
            <td class="label">Status:</td>
            <td class="data"><%= @listing.book_status.name.split.map(&:capitalize).join(' ') %></td>
         </tr>
         <tr>
            <td class="label">Actions:</td>
            <td class="data"><%= @listing.actions.map { |a| a.name.split.map(&:capitalize).join(' ')}.join ', ' %></td>
         </tr>
      </table>
   </div>
</div>
